body {
	padding: 0 30%;
	margin-top: 6%;

}

#scocca-calcolatrice {


	background-color: #a7a5a4;
	border-radius: 3px;
	box-shadow: 3px 4px #8a8a8a, 0px 10px 15px rgba(0, 0, 0, 0.2);
	padding-top: 1%;

} 

#calcolatrice_wrapper {
	width: 70%;



}

#display {
	height: 70px;
	background-color: green;
	margin: 25px;
	text-align: right;
	text-align: 50%;
	font-size: 70px;
	font-family: Digital-7;
	border-radius: 3px;
	overflow: hidden;
}

button {
	width: 20%;
	height: 30px;
	margin-bottom: 1.5%;
	border-radius: 50px;
	display: inline-block;
    margin-left: 3.5%;
    font-size: 100%;

}

img {
	height: 1em;
}

#style_console {
	margin: 50px auto;
	text-align: center;
	font-size: 2em;
}


.clear {
	clear: both;
}

@media screen and (max-width: 480px) {
	body {
		padding: 0px;

	}

	#calcolatrice_wrapper {
		width: 100%;
	}
}